@media screen and (max-width:375px) {
    .header p {
        font-size: 5px;
    }

    #destaque {
        font-size: 20px;
    }
}

@media screen and (max-width:425px) {

    .header p {
        font-size: 13px;
        text-indent: 0px;
    }

    #destaque {
        font-size: 25px;
    }

    .header h2 {
        font-size: 20px;
    }

    .cardCTD img {
        max-height: 200px;
    }

    .cardCTD p {
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    .servicos {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }

    .header img {
        display: none;
    }

    .header p {
        margin-top: 0%;
        padding: 1%;
    }
}

@media screen and (max-width:1024px) {
    .header img {
        height: 500px;
    }

    .cardCTD img {
        height: 250px;
    }
}